#code{
    width: 211px;
    text-align: left;
    font-family: Tahoma;
    font-size: 18 px;
  }
  
  p {
    width: 211px;
    text-align: left;
    font-family: Tahoma;
    font-size: 20px;
    color: red;
  }
  
  